/* ......................... header ....................... */
body {
	background: #F5F5F5 url('images/bg-brushed-steel.jpg') repeat-x;
	font-family: verdana, arial;
	font-size: 12px;
	line-height: 1.6em;
}

body.sidebar-left #main {
	margin-left:-210px;
}

body.sidebar-right #main {
	margin-right: -210px;
}

body.both-sidebars #main {
	margin:0pt -210px;
}

body #main {
	margin:0pt;
}

#squeeze {
	position: relative;
	padding: 0 1em;
}

/* And add blanks left and right for the sidebars to fill */
body.sidebar-left #squeeze {
	margin-left: 210px;
}
body.sidebar-right #squeeze {
	margin-right: 210px;
}
body.both-sidebars #squeeze {
	margin: 0 210px;
}

#page {
	border: 0px solid red;
	background: #ffffff url('images/edges-brushed-steel.jpg') repeat-y;
	width: 850px;
	margin: 0px auto;
}

#page #page-top {
	background: #ffffff url('images/top-brushed-steel.jpg');
	height: 45px;
}

#page #page-mid {
	background: url('images/mid-brushed-steel.jpg') no-repeat;
/*	height: 700px;*/
}

#page #page-bot {
	background: #ffffff url('images/bot-brushed-steel.jpg');
	height: 45px;
}

/* ......................... header ....................... */
#header {
	border: 0px solid navy;
	width: 800px;
	margin: 0 auto;
}

#header #logo-search {
	border: 0px dashed crimson;
	height: 100px;
}

	#logo-title {
		border: 0px solid orange;
		display: block;
		float: left;
	}

	#logo-title #logo {
		border: 0px dashed magenta;
		display: block;
		float: left;
	}

	#logo-title #name-and-slogan {
		border: 0px dashed red;
		display: block;
		float: left;
	}

	#blocks-search {
		border: 0px dashed pink;
		display: block;
		float: right;
		margin-right: 4px;
	}

	#header-blocks {
		border: 0px dashed sienna;
		display: block;
		text-align: right;
	}

	#header-search {
		border: 0px dashed sienna;
		display: block;
	}

#header #navigation {
	border: 0px dashed orange;
	margin: 0px 0px 10px 0px;
	height: 60px;
	width: 796px;
}

	#header #navigation #primary {
		height: 30px;
		margin: 5px 0px -5px 0px;
		border-bottom: solid #245B00 1px;
	}

	#header #navigation #primary ul {
		border: 0px dashed deeppink;
		list-style-image:none;
		list-style-position:outside;
		list-style-type:none;
		list-style:none;
		white-space: nowrap;
		padding-left: 0px;
		margin: 5px 5px 0px 0px;
	}

	#header #navigation #primary ul li {
		background-position:0% 0px;
		background: #B7B8B7 url('images/bg-tabs-prime.jpg') repeat-x scroll 0% 0%;
		border-bottom: solid #245B00 1px;
		border-left: solid #CCCCCC 1px;
		border-right: solid #CCCCCC 1px;
		border-top: solid #CCCCCC 1px;
		color:#FFF;
		display:block;
		float:left;
		font-size: 11px;
		font-weight:bold;
		height: 30px;
		line-height: 2em;
		list-style:none;
		margin: 0px;
		padding:0px 6px 6px 6px;
		text-align: center;
		text-wrap: suppress;
		white-space: nowrap;
		width: 120px;
	}

	#header #navigation #primary ul li.active {
		background: #B7B8B7 url('images/bg-tabs-prime-on.jpg') repeat-x;
		border-top: solid #245B00 1px;
		border-right: solid #245B00 1px;
		border-bottom: solid #ffffff 1px;
		border-left: solid #245B00 1px;
	}

	#primary a, 
	#primary a:link, 
	#primary a:hover {
		text-decoration:none;
		color: #245B00;
	}

	#primary a:active,
	#primary ul li.active a {
		color: #333333;
	}

	#primary a:hover {
		text-decoration:underline;
	}

	#header #navigation #secondary {
		background: #F2FFF2;
		border-top: none;
		border-right: solid #245B00 1px;
		border-bottom: solid #245B00 1px;
		border-left: solid #245B00 1px;
/*
		border: solid #245B00 1px;
*/
		height: 30px;
		margin: 5px 0px 0px 0px;
	}

	#header #navigation #secondary ul {
		border: 0px dashed deeppink;
		white-space: nowrap;
		padding-left: 0px;
		margin: 5px 5px 0px -2px;
	}

	#header #navigation #secondary ul li {
		display:block;
		float:left;
		font-size: 11px;
		font-weight:bold;
		line-height: 2em;
		margin: 0px;
		padding:0px 6px 10px 6px;
		text-align: center;
		text-wrap: suppress;
		white-space: nowrap;
		width: 120px;
	}

	#secondary a, 
	#secondary a:link, 
	#secondary a:hover {
		text-decoration:none;
		color: #428400;
	}

	#secondary a:active,
	#secondary ul li.active a {
		color: #666666;
	}

	#secondary a:hover {
		text-decoration:underline;
	}

/* ......................... breadcrumbs ....................... */

#header #header-region {
	border: 0px dashed purple;
}

#header #header-region .breadcrumb {
	font-size: 10px;
	color: #999999;
}
 
#header #header-region .breadcrumb a {
	color: #999999;
	text-decoration: none;
	border-bottom: 1px dotted;
}

/* ......................... container ....................... */

#container {
	border: 0px solid blue;
	width: 800px;
	margin: 0 auto;
}

#container #sidebar-left {
	float: left;
}

#container #sidebar-right {
	float: right;
	margin-right: 4px;
}

#container #main {
	border: 0px dotted orange;
	float: left;
	width: 100%;
	color: #071200;
}

	#container #main h1 {
		color: #071200;
	}

	#container #main h2,
	#container #main a {
		color: #205200;
	}

#container .sidebar .block {
	margin: 0 0 1.5em 0;
}

#container .sidebar {
	margin: 1px 0 5em;
	width: 190px;
	float: left;
	z-index: 2;
	position: relative;
}

#container .sidebar .block h2 {
	font-family: 'trebuchet ms', arial, verdana;
	font-size: 12px;
	/*color: #8B8B8B;*/
	color: #747474;
	padding: 0px 10px 0px 10px;
}

#container .sidebar .block {
	background-color: #ffffff;
	border: solid #245B00 1px;
	margin-top: 5px;
	margin-bottom: 20px;
}

	#container .sidebar .block .blockinner {
		padding: 0px 5px;
	}

	#container .sidebar .block a {
		color: #7C7C7C;
		text-decoration: none;
	}

	#container .sidebar .block a:hover, 
	#container .sidebar .block a:active,
	#container .sidebar .block a.active {
		color: #7C7C7C;
		text-decoration: underline;
	}

/*
	#container #main .node .links {
		margin-bottom: 10px;
	}
*/

	#container #main .node ul.links {
		font-size: 10px;
	}

/* ......................... footer ....................... */
#footer-wrapper {
	margin-top: 20px;;
}

#footer {
	border: 0px solid aqua;
	width: 800px;
	margin: 0 auto;
	font-size: 9px;
	text-align: center;
}

/* ......................... misc ....................... */

h1#site-name a {
	text-decoration: none;
	font-size: 20px;
	color: #324328;
}

h1#site-name a:hover {
	text-decoration: underline;
	color: #245B00;
}

h1#site-name, 
div#site-slogan,
div#logo {
	padding-left: 5px;
}

h1#site-name {
	font-size: 16px;
}

h1 {
	font-size: 14px;
}

h2 {
	font-size: 12px;
}

h3 {
	font-size: 11px;
}

h4 {
	font-size: 10px;
}

hr#node-separator {
	color: #F0F0F0;
	background-color: #F0F0F0;
	border: 0;
	width: 80%;
	margin:10px 0px 20px 0px;
}

.meta {
	font-size: 10px;
	color: #666666;
}

/* zen import _ */
.messages {
  min-height: 32px;                 /* icon height */
  padding: 0 1em 0 52px;
  border: 2px solid #ddd;
  background: #eee;
  margin: 10px 0;
}

div.error {
  border: 2px solid #F00;
}

.messages ul {
  padding: 0 0 0 20px;
  margin: 0;
}

/* Status and Error icons */
div.status {
  background-image: url('images/dialog-information_i.gif');
  background-repeat: no-repeat;
  background-position: .5em 50%;
}

div.error {
  background-image: url('images/dialog-warning.gif');
  background-repeat: no-repeat;
  background-position: .5em 50%;
}
/* _ zen import */



#store-footer {
	display: none;
}

table {
	padding-right: 3px;
}